#game { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#players { 
    display: flex;
    justify-content: space-between;
    padding: 0px 20px
}

#gameboard-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 10vh; */
}
#gameboard-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 50vw;
    height: 50vh;
}
    
.gamepiece-square {
    border: .5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 20px;
}

#player-one-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


#player-two-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#player-two-wrapper > div { 
    display: flex;
    flex-direction: column;
}
.player-two-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
}

h1 { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.human-bot:active {
    background-color: yellow;
    /* transition: all 3s; */
}

#buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 10px;   
    padding-top: 150px; 
    padding-bottom: 50px;
}

.active-button {
    background-color: yellow;
}